<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../utils/carousel'); %>
        <%- include('../utils/mainProducts'); %>
        <%- include('../utils/productList'); %>
        <%- include('../utils/testimonial'); %>
        <%- include('../utils/recentStories'); %>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="./js/bootstrap.bundle.min.js"></script>
</body>

</html>